.about {
	padding: rem(60) 0;
	position: relative;

	&__title {
	}

	.un-container {
		--content-width: #{rem(463)};
		--gap: #{rem(48)};
	}

	&__text {
		span {
			font-weight: 700;
			color: var(--color-accent);
		}

		&:not(:last-child) {
			margin-bottom: rem(48);
		}
	}

	&__list-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(32);
	}

	&__list {
		list-style-type: none;

		&--odd {
			text-align: right;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: rem(-34);
				width: rem(2);
				height: 100%;
				background: var(--color-grey);
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(32);
		}

		span {
			display: block;

			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(64);
			line-height: 100%;
			color: var(--color-accent);
			margin-bottom: rem(10);
		}
	}

	&__img {
		height: rem(502);
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
