.about {
	padding-top: rem(60);
	padding-bottom: adapt(60, 30);

	&__title {
	}

	.un-container {
		--content-width: #{rem(463)};
		--gap: #{rem(48)};

		@media (max-width: em(1024)) {
			flex-wrap: wrap-reverse;
			padding-right: 0;
		}
	}

	.un-container__content {
		@media (max-width: em(1024)) {
			padding-inline: max(var(--container-gap), (100% - var(--container-width)) / 2);
			width: 100%;
			max-width: 100%;
			flex: 1 1 100%;
		}
	}

	&__text {
		span {
			font-weight: 700;
			color: var(--color-accent);
		}

		&:not(:last-child) {
			margin-bottom: rem(48);

			@media (max-width: em(576)) {
				margin-bottom: rem(24);
			}
		}
	}

	&__list-box {
		display: flex;
		align-items: center;

		@media (max-width: em(1024)) {
			justify-content: center;
		}

		@media (max-width: em(576)) {
			flex-direction: column;
			text-align: center;
			gap: rem(16);
		}
	}

	&__list {
		list-style-type: none;

		flex: 0 1 50%;
		padding-left: rem(32);

		@media (max-width: em(576)) {
			padding: unset;
		}

		&--odd {
			text-align: right;
			position: relative;
			padding-left: unset;
			padding-right: rem(34);

			@media (max-width: em(576)) {
				text-align: inherit;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: rem(2);
				height: 100%;
				background: var(--color-grey);

				@media (max-width: em(576)) {
					display: none;
				}
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(32);

			@media (max-width: em(576)) {
				margin-bottom: rem(16);
			}
		}

		span {
			display: block;

			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(64);
			line-height: 100%;
			color: var(--color-accent);
			margin-bottom: rem(10);
		}
	}

	&__img {
		min-height: rem(502);
		position: relative;

		@media (max-width: em(1024)) {
			&:not(:last-child) {
				margin-top: rem(48);
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
