.benefits {
	padding-block: adapt(60, 30);

	&__title {
	}

	.un-container {
		--content-width: #{rem(463)};
		--gap: #{rem(48)};

		@media (max-width: em(1024)) {
			flex-wrap: wrap-reverse;
			padding-right: 0;
		}
	}

	.un-container__content {
		@media (max-width: em(1024)) {
			padding-inline: max(var(--container-gap), (100% - var(--container-width)) / 2);
			width: 100%;
			max-width: 100%;
			flex: 1 1 100%;
		}
	}

	&__img {
		min-height: rem(612);
		position: relative;

		@media (max-width: em(1024)) {
			&:not(:last-child) {
				margin-top: rem(48);
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		list-style-type: none;
	}

	&__item {
	}
}

.un-container {
	&__full {
	}

	&__content {
	}
}

.benefits-item {
	padding-left: rem(48);
	position: relative;

	&::before {
		content: "";
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: rem(32);
		height: rem(32);
		position: absolute;
		top: 0;
		left: 0;
	}

	&:not(:first-child) {
		padding-top: rem(24);

		&::before {
			top: rem(24);
		}
	}

	&:not(:last-child) {
		padding-bottom: rem(24);

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(2);
			background: var(--color-grey);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	&__text {
	}
}
