.hero {
	background: url("../images/hero/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(18, 18, 18, 0.2);
		z-index: -1;
	}

	&__body {
		padding-top: calc(var(--header-height) + rem(138));

		@media (max-width: em(768)) {
			padding-top: calc(var(--header-height) + rem(100));
		}
	}

	&__top {
		max-width: rem(684);
		text-align: center;

		margin-bottom: rem(264);

		@media (max-width: em(1024)) {
			margin-inline: auto;
		}

		@media (max-width: em(768)) {
			margin-bottom: rem(200);
		}
	}

	&__title {
		font-family: var(--font-title);
		font-size: rem(32);
		font-weight: 500;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--color-white);

		@media (max-width: em(768)) {
			font-size: rem(28);
		}

		@media (max-width: em(576)) {
			font-size: rem(22);
		}

		span {
			display: block;

			font-weight: 600;
			font-size: rem(192);
			line-height: 100%;
			color: var(--color-accent);

			@media (max-width: em(768)) {
				font-size: rem(140);
			}

			@media (max-width: em(576)) {
				font-size: rem(80);
			}
		}
	}

	&__text {
		max-width: rem(630);
		margin: 0 auto;
		font-size: rem(28);
		color: var(--color-white);

		@media (max-width: em(768)) {
			font-size: rem(24);
		}

		@media (max-width: em(576)) {
			font-size: rem(18);
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn-label {
	}

	&__lang-box {
		color: var(--color-white);
		font-size: rem(28);

		@media (max-width: em(768)) {
			font-size: rem(24);
		}

		@media (max-width: em(576)) {
			font-size: rem(18);
		}

		* {
			text-decoration: none;
			color: inherit;
			transition: all 0.3s;

			@media (any-hover: hover) {
				&:hover {
					color: var(--color-accent);
				}
			}
		}
	}

	&__lang-ru {
	}

	&__lang-eng {
	}
}
