.roadmap {
	padding-block: adapt(60, 30);

	.un-container {
		--content-width: #{rem(288)};
		--gap: #{rem(48)};

		@media (max-width: em(1200)) {
			flex-direction: column;
		}

		.un-container__content {
			@media (max-width: em(1200)) {
				padding-right: var(--container-gap);
				width: 100%;
				max-width: 100%;
				flex: 1 1 100%;
			}
		}
	}

	&__title {
	}

	&__timeline {
	}

	&__slider-box {
		padding-top: rem(32);
	}

	&__slider-title {
		font-family: var(--font-title);
		font-weight: 500;
		font-size: adapt(42, 30);

		display: flex;
		align-items: baseline;
		gap: rem(16);
		margin-right: rem(16);

		max-width: rem(904);

		@media (max-width: em(1200)) {
			max-width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: rem(32);
		}

		span {
			font-family: var(--font-main);
			font-weight: 700;
			font-size: adapt(46, 40);
			color: var(--color-grey);
		}
	}
}

//! РОДИТЕЛЬ ЛИПУЧКИ
.roadmap-timeline {
	padding-top: rem(32);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: rem(31);
		width: rem(2);
		height: 100%;
		background: var(--color-grey);
	}

	&__label {
		border-top: rem(2) solid var(--color-grey);
		border-bottom: rem(2) solid var(--color-grey);
		padding: rem(16) rem(16) rem(16) rem(64);
		background: var(--color-white);
		position: relative;

		&::before {
			content: "";
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: rem(16);
			left: rem(16);
			width: rem(32);
			height: rem(32);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(4);

			@media (max-width: em(1200)) {
				margin-bottom: unset;
			}
		}
	}

	&__subtitle {
	}

	//! ЭТО ДОЛЖНО ЛИПНУТЬ
	&__text {
		position: sticky;
		top: 0;
		padding-left: rem(64);
		padding-top: rem(32);

		@media (max-width: em(1200)) {
			padding-block: rem(24);
		}
	}
}

.roadmap-slider {
	&__wrapper {
	}
}

.roadmap-slide {
	max-width: rem(605); // тут только ширину пишем и именно MAX-width

	&__wrapper {
		position: relative;
		min-height: rem(390);
	}

	&__inner-link {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
