.start {
	padding-top: rem(60);

	background: url("../images/start/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__content {
		background: var(--color-white);
		padding: rem(48);
		text-align: center;

		&:not(:last-child) {
			margin-bottom: rem(310);
		}

		@media (max-width: em(576)) {
			padding: rem(32) rem(16);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: rem(48);

			@media (max-width: em(1024)) {
				margin-bottom: rem(32);
			}
		}
	}

	&__form {
	}

	&__btn-label {
		align-self: flex-end;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(48);

	@media (max-width: em(1024)) {
		flex-direction: column;
		max-width: rem(433);
		align-items: normal;
		margin: 0 auto;
		gap: rem(16);
	}

	@media (max-width: em(576)) {
		max-width: 100%;
	}

	&__input {
		background: none;
		border: none;

		border-top: rem(2) solid var(--color-grey);
		border-bottom: rem(2) solid var(--color-grey);

		padding: rem(14) rem(32);
		max-width: rem(433);
		width: 100%;

		font-size: rem(24);
		color: var(--color-text);
		transition: all 0.3s;

		&:focus-visible {
			border-color: var(--color-accent);
			outline-style: none;
		}

		&::placeholder {
			color: var(--color-grey-darker);
		}

		@media (max-width: em(576)) {
			padding: rem(14);
			max-width: 100%;
		}
	}

	&__btn {
		background: none;
		border: unset;

		@media (max-width: em(1024)) {
			margin-top: rem(16);
		}

		.btn__text {
			font-size: rem(24);
		}
	}
}
