@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond/CormorantGaramond-Medium.eot");
	src: url("../fonts/CormorantGaramond/CormorantGaramond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/CormorantGaramond/CormorantGaramond-Medium.woff") format("woff"), url("../fonts/CormorantGaramond/CormorantGaramond-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.eot");
	src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff") format("woff"), url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: KiyosunaSans;
	font-display: swap;
	src: url("../fonts/KiyosunaSans/KiyosunaSans-Bold.eot");
	src: url("../fonts/KiyosunaSans/KiyosunaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/KiyosunaSans/KiyosunaSans-Bold.woff2") format("woff2"), url("../fonts/KiyosunaSans/KiyosunaSans-Bold.woff") format("woff"), url("../fonts/KiyosunaSans/KiyosunaSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KiyosunaSans;
	font-display: swap;
	src: url("../fonts/KiyosunaSans/KiyosunaSans-Light.eot");
	src: url("../fonts/KiyosunaSans/KiyosunaSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/KiyosunaSans/KiyosunaSans-Light.woff2") format("woff2"), url("../fonts/KiyosunaSans/KiyosunaSans-Light.woff") format("woff"), url("../fonts/KiyosunaSans/KiyosunaSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
