*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100dvh;
	//scrollbar-gutter: stable; // чтобы скроллбар нормально себя вёл (возможно вообще уберу)
}

img,
svg,
source,
picture,
video {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: top; // чтобы не было отступа внизу у картинок по умолчанию
}

a,
input,
button,
textarea,
select,
option,
label {
	cursor: pointer;
	font: inherit;
}

body {
	font-family: var(--font-main);
	font-weight: 300; // Light
	font-size: rem(20);

	color: var(--color-text);
	background-color: var(--color-white);

	min-width: rem($finishBreakpoint);

	* {
		line-height: 120%;
	}
}

.wrapper {
	position: relative;
	//overflow: hidden; // убрала, потому что в секции roadmap не работал position: sticky;
	min-height: 100%; // возможно понадобится 100dvh

	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: calc(var(--container-width) + (var(--container-gap) * 2));
	padding: 0 var(--container-gap);
	margin: 0 auto;
}

.un-container {
	--content-width: 500px; // ширина текстового контента (500px здесь - это просто заглушка, настоящее значение указывается в переменной в стилях самой секции)
	--gap: 30px; // отступ между текстовым контентом и картинкой (30px здесь - это просто заглушка, настоящее значение указывается в переменной в стилях самой секции)

	display: flex;
	column-gap: var(--gap);
	padding-right: max(var(--container-gap), calc((100% - var(--container-width)) / 2));

	&--padding-left {
		padding-right: unset;
		padding-left: max(var(--container-gap), calc((100% - var(--container-width)) / 2));
	}

	&__full {
		flex: 0 1 100%;
	}

	&__content {
		flex: 0 0 var(--content-width);
		max-width: var(--content-width);
	}
}

//* COMPONENTS

.no-scroll {
	overflow: hidden;
}

.logo {
	transition: all 0.3s;
	flex-shrink: 0;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}

	@media (max-width: em(768)) {
		max-width: rem(120);
	}
}

.btn {
	text-decoration: none;

	position: relative;
	padding: rem(12) rem(24);

	transition: all 0.5s;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		transition: all 0.5s;

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			width: 50%;
			height: 100%;
			background-color: var(--color-accent);
			transition: all 0.5s;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	&__text {
		position: relative;
		z-index: 2;
		color: var(--color-white);

		transition: all 0.5s;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: rem(2);
		background-color: var(--color-accent);
		transition: all 0.5s;
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		bottom: 0;
		right: 0;
	}

	@media (any-hover: hover) {
		&:hover {
			.btn__bg {
				&::before,
				&::after {
					width: 0;
				}
			}

			.btn__text {
				color: var(--color-accent);
			}

			&::before,
			&::after {
				width: 100%;
			}
		}
	}

	&--big {
		padding: rem(16) rem(32);
	}
}

.btn-label {
	text-decoration: none;

	padding: rem(28);
	background-color: var(--color-white);
	color: var(--color-text);

	display: flex;
	align-items: center;
	gap: rem(10);

	transition: all 0.3s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-accent);

			.btn-label__icon {
				svg path {
					fill: var(--color-accent);
				}
			}
		}
	}

	@media (max-width: em(768)) {
		padding: rem(20);
	}

	@media (max-width: em(576)) {
		padding: rem(16);
	}

	&__text {
		@media (max-width: em(768)) {
			font-size: rem(18);
		}

		@media (max-width: em(576)) {
			font-size: rem(16);
		}
	}

	&__icon {
		@media (max-width: em(576)) {
			width: rem(20);
		}

		svg {
			display: block;

			path {
				transition: all 0.3s;
			}
		}
	}
}

.title-section {
	font-family: var(--font-title);
	font-weight: 500;
	font-size: adapt(48, 34);
	line-height: 120%;
	color: var(--color-text);

	padding-bottom: rem(12);
	margin-bottom: rem(48);

	position: relative;

	@media (max-width: em(1024)) {
		margin-bottom: rem(32);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(2);
		background: var(--color-grey);
	}
}

.title-3 {
	font-size: rem(24);

	@media (max-width: em(576)) {
		font-size: rem(22);
	}
}

.label-icon-1 {
	&::before {
		background: url("/images/roadmap/icons/morning-icon.svg");
	}
}

.label-icon-2 {
	&::before {
		background: url("/images/roadmap/icons/afternoon-icon.svg");
	}
}

.label-icon-3 {
	&::before {
		background: url("/images/roadmap/icons/evening-icon.svg");
	}
}

.title-right {
	text-align: right;
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.add-top {
	@media (max-width: em(1200)) {
		margin-top: rem(32);
	}
}