@import "base/_libs.scss";

@import "base/_fontsAutoGen.scss";

@import "./base/_functions.scss";
@import "./base/_vars.scss";
@import "./base/_global.scss";

// SECTIONS

@import "sections/_header.scss";

@import "sections/_hero.scss";
@import "sections/_about.scss";
@import "sections/_roadmap.scss";
@import "sections/_benefits.scss";
@import "sections/_reviews.scss";
@import "sections/_start.scss";

@import "sections/_footer.scss";