@import "base/_libs.scss";

@import "base/_fontsAutoGen.scss";

@import "./base/_functions.scss";
@import "./base/_vars.scss";
@import "./base/_global.scss";

@import "sections/_header.scss";

@import "sections/_hero.scss";
@import "sections/_about.scss";